*{
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding:0;
}
html{
    opacity: 0.9;
    font: 22px;
    font-family: Helvetica, sans-serif;
    color: seashell; 
    background-color: black;
}
body{
    position: relative;
    padding-bottom: 220px;
    min-height: 100vh;
}
/* Div styling */
li{
    list-style: none;
}
li h3, .missonText h4{
    text-transform: capitalize;
}

/* header */

header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    background-color: black;
    width:100%;
    border-bottom: 1px solid seashell;
    opacity: 0.9;
}
header img{
    margin-left: 10px;
    height: 50px;
}
header li{
    display: inline-block;
    padding: 0 5px;
}
header a{
    color: seashell;
}
header a:hover {
    cursor: pointer;
    opacity: 1;
    font-size: larger;
    transition: 1s;
    text-decoration: none;
}

/* 1.section */
.firstSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 40px 10px 40px;  
    background-image: url(./resourses/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

.missonText {
    display: flexbox;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 1200px;
    height:100px;
    opacity: 0.9;
}

/* 2.section */
.secondSection{
    padding: 50px 0;
}

.secondSection h2{
    margin-top: 20px;
    line-height: 50px;
    text-align: center;
}
.secondSection h3{
    margin-bottom:10px ;
}
.teaTypes{
    width: 1000px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 30px;
}
.teaTypes img{
    width: 300px;
    height: 200px;
    display: inline;
    margin: 10px 10px;
}

/* 3.section */
.thirdSection{
    background: url(./resourses/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    height: 500px;
    margin: 0 40px;    
}
.thirdSection h2{
    padding: 50px 0 15px 0;
}

.locationBoxes {
    display:inline-flex;
    align-content: center;
    gap: 40px;
    opacity: 1;
}
.location1, .location2, .location3 {
    display:grid;
    background-color: black;
    height: 250px;
    width: 300px;
    justify-content: center;
    align-items: center;
}

/* footer */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.9;
}
.footerSection{
    line-height: 40px;
    height: 200px;
    position: relative;
    bottom:-20px;
}
.copyright{
    float: left;
    margin: 0 0 20px 20px;
}